
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
/*screens*/
@import "screens/login.css";
@import "screens/friends.css";
body{
    font-family: 'Arvo', serif;
    height: 1000vh;
    color : #191919;
}
